services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pastebin_app
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://myuser:mypassword@postgres:5432/pastebindb
      NODE_ENV: production
      PASTE_COOKIE_KEY: ImOt+f5Gu+9UdJpfvmzDdBL0Zrbg1hpzIISyik+oJ0M=
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: pastebindb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d pastebindb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres

volumes:
  pgdata:
